<table class="table m-4">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Address </th>
        <th scope="col">Action </th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>EMAIL</td>
            <td>NAME</td>
            <td>ADDRESS</td>
            <td>
                <a routerLink="/updaterestaurant">
                    <i class="fa fa-edit" style="font-size:28px;color:#000"></i>
                </a> &nbsp;
                <i class="fa fa-trash-o" style="font-size:28px;color:red"></i>
            </td>
          </tr>
        <!-- ?.docs -->
      <tr *ngFor='let restaurant of collectiondatar'>
        <td>{{restaurant.email}}</td>
        <td>{{restaurant.name}}</td>
        <td>{{restaurant.address}}</td>
        <td>
            <a routerLink="/updaterestaurant/{{restaurant.email}}}">
                <i class="fa fa-edit" style="font-size:28px;color:#000"></i>
            </a> &nbsp;
            <i class="fa fa-trash-o" style="font-size:28px;color:red"></i>
        </td>
      </tr>
    </tbody>
  </table>